@use 'assets/styles/root';
@use 'assets/styles/mixins';
@use 'assets/styles/variables';




* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Aplicar box-sizing para que el padding y border no sumen ancho */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Prevenir que las imágenes se desborden */
img {
    max-width: 100%;
    height: auto;
}

/* @use "tailwindcss"; */
/* @use "bootstrap-icons/font/bootstrap-icons.css";
@use "primeicons/primeicons.css"; */
