@use "variables.scss" as variables;
@use "mixins.scss" as mixins;

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px;

  @include mixins.desktop {
    padding-top: 80px;
  }
}

body {
  background: variables.color(green-100);
}

.container--fluid {
  padding: 0px 24px;

  @include mixins.desktop {
    margin: 0 auto;
    padding: 0px;
  }
}

.text--secondary {
  color: variables.color(secondary);
}

.container--payment .p-inputnumber {
  width: 100%;
}


:root {
  font-family: variables.$font-family-primary;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  font-family: variables.$font-family-primary;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

// Utility class for secondary font
.font-secondary {
  font-family: variables.$font-family-secondary;
}
